.listaNoticiasContainer{

    // background-color: blue;


}


.ms-SearchBox root-126{


    background-color: aqua;


}


.ms-List-page{
    overflow: unset;
}

.content-container{
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    // column-gap: 16px;
    // row-gap: 36p
  }